<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="talkingpoints.guoer"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true" >
        <activity android:name="GateWayForWifiWoz" android:screenOrientation = "portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


<!--<activity android:name=".BTlist"-->
<!--                  android:label="@string/app_name" android:screenOrientation = "portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>-->

<service android:name="BTScanner" android:process=":remote"></service>

<activity android:name="BTlist" android:screenOrientation = "portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  ></activity>
        
<activity android:name="GestureUI" android:screenOrientation = "portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity>
<activity android:name="POImenu" android:screenOrientation = "portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  ></activity>
<activity android:name="Content" android:screenOrientation = "portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:noHistory="true"></activity>

<activity android:name="Comments" android:screenOrientation = "portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:noHistory="true"></activity>

<activity android:name="POIsAhead" android:screenOrientation = "portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:noHistory="true" ></activity>


<activity android:name="DetectedLocations" android:screenOrientation = "portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

<activity android:name="WifiList" android:screenOrientation = "portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:noHistory="true" ></activity>
<service android:name="WifiScanner" android:process=":remote"></service>

<activity android:name="ItWasBTlist" android:screenOrientation = "portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
<activity android:name="ItWasDetectedLocations" android:screenOrientation = "portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

<activity android:name="Setting"></activity>
</application>
    <uses-sdk android:minSdkVersion="7" />

<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>

</manifest> 